<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.erlide.backend.erlangProcess">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/test"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables"/>
<booleanAttribute key="org.erlide.core.console" value="true"/>
<stringAttribute key="org.erlide.core.cookie" value="erlide"/>
<booleanAttribute key="org.erlide.core.has_backend" value="false"/>
<booleanAttribute key="org.erlide.core.loadAllNodes" value="false"/>
<booleanAttribute key="org.erlide.core.longName" value="false"/>
<stringAttribute key="org.erlide.core.nodeName" value="test"/>
<stringAttribute key="org.erlide.core.projects" value="test"/>
<stringAttribute key="org.erlide.core.runtime" value="erl8.0"/>
</launchConfiguration>
